*{
    text-align: right;
}

img {
    float: right;
}
footer {
    clear: both;
    text-align: center;
}
p {
    color: #AA4139;
    text-align: center;
    border: 5px solid #FFB0AA;
    cursor: pointer;
}

p {
    line-height: 5px;
    font-weight: 700;
    font-size: 150%;
    font-family: "Calibri","Times New Roman";
}



li {
    list-style: none;
    display: inline-block;
}