*, *::before,*::after {
    box-sizing: border-box;
    text-decoration: none;
}


  :root {
    --ff-primary:  'Nunito', sans-serif;
    --ff-secondary:'Nunito', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #F2B886;

    --fs-h1: 5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.25em rgba(0,0,0,0.25);
}

html {
    scroll-behavior: smooth;
  }
body {
    font-family: var(--ff-primary);
    background: linear-gradient(to right, rgb(119, 230, 216), rgb(128, 76, 254));
}

h1 {font-size: var(--fs-h1); }
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

/**** Header Section *****/

.logo {
    width: 100px;
    height: auto;
 }

 .sticky {
  position:fixed;
  top: 0;
  width: 100%;

}

.done {
    text-decoration: line-through;
}


.shopping-container {
display: flex;
margin: 0 auto;
flex-direction: column;
width: 500px;
padding: 1em;
align-items: center;
border: 1px solid black;
border-radius: 5px;
box-shadow: var(--bs);
background-color: #FFF;
}

#userinput {
    margin-bottom: 20px;
    width: 480px;
    height: 40px;
    background-color: rgb(221, 233, 255);
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;

}
#enter {
    color: white;
    background-color: green;
    border-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    width: 100%;
    padding: 0;
}
li {
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}
li:hover {
    background-color: #d1d0d0;
    cursor: pointer;
}
.li-done {
    background-color: rgba(194, 228, 194, 0.5);
    border: 2px solid green;
}
.li-done:hover {
    background-color: rgba(194, 228, 194);
}

.delete {
    background-color: red;
    color: #FFF;
    margin-left: auto;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.delete:hover {
    background-color: rgb(211, 3, 3);
    cursor: pointer;
}